
body{
  background-color: rgba(0, 109, 130, 1);
  z-index: 1;
  position: fixed;
width: 100vw;
height: 100vh;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  position: absolute;
  width: 60%;
  height: 60%;
  table-layout: fixed;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #fff;
  width: 15.5%;
  height: calc(100% / 8);
}

th {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  width: 15.5%;
  height: 13.5%;
  
}

.k{
  background-color: #5f4419;
  opacity: 0.9;
}



.hint {
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
  border: 0.2rem solid darkcyan;
  padding: 1.5rem;
  border-radius:1rem;
  box-shadow: 0 0 0.625rem #006d82ff;
  /* font-family: Arial, sans-serif; */
  /* font-family: 'Press Start 2P', cursive, "Arial", "sans-serif"; */
  /* font-size: 1.125rem; */
 
  
  background-color: #006d82ff;
  color: #fff;
 
  border-style: inset;
  /* text-shadow: 3px 3px 0 #363434; */


  font-size: 2.5rem;
  color: #fff;
  /* margin-bottom: 3rem; */
  font-family: 'Alkatra', cursive, "Arial", "sans-serif";
  z-index: 1111;
}
.inst {
  text-align: center;
   margin-top: 9rem;
  /* margin-left: 31rem;  */
  font-size: 2.5rem;
  color: #fff;
  /* text-align: center; */
  font-family: 'Alkatra', cursive;
  z-index: 1111;
  position: relative;
  
}
#count {
  font-size: larger;
}


#stepsAway {
  font-weight: bold;
  margin: 0 0.3125rem;
 
} 
/* ########################################## */




.gameContainer {
  top: 0;
  left: 0;
  margin-top: 21%;
  margin-left: 18%;
  width: 100%;
  padding-bottom: 80%;
  z-index: 1;
  position: relative;
  z-index: 1;
  /* font-family: 'Press Start 2P', cursive, "Arial", "sans-serif"; */
  font-weight: bolder;
}

.text-layer {
  /* font-family: 'Press Start 2P', cursive, "Arial", "sans-serif"; */
  font-weight: bolder;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.29rem;
  font-weight: bold;
  color: rgb(255, 248, 246);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-position: cover;
  font-size: 2.5rem;
}


.background-image {
  position: absolute;
 
  top: 0;
  left: 0;
  background-image: url('../images/TreassureIsland.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 60vw;
  height: 60vw;
  z-index: 0;
}

.result-modal-content img {
  width:7rem;
  height: 7rem;
  margin-top: 1em;
}

/* ####################################################################### */

/* Media query for small screens */
@media (max-width: 576px) {
  table {
    /* width: 100%; */
    height: 90%;
    width: 90%;
    /* margin: 0 auto; */
  }
  
  td, th {
    width: calc(100% / 8);
    height: calc(100% / 8);
    font-size: 16px;
  }
  .text-layer {
    font-size: 1.5rem;
  }

  .gameContainer { 
      margin-top: 10vw;
      margin-left: 5vw;
      position: absolute;

  }

  .background-image {
    margin-left: -10%;
    margin-top: -15%;
    width: 130vw;
    height: 130vw;
    position: absolute;
  }

  .play-again {
    font-size: 0.875rem;
    padding: 6px 12px;
  }

  .hint {
    font-size: 1.5rem;
  }

  .inst {
    font-size: 1.3rem;
    /* text-align: center; */
     margin-top: 5rem;
     margin-bottom: 1rem;
    }


}

/* Media query for medium screens */
@media (min-width: 576px) and (max-width: 768px) {
  table {
    width: 60%;
    height: 60%;
  }
  
  td, th {
    width: calc(100% / 8);
    height: calc(100% / 8);
    font-size: 20px;
  }

  .gameContainer { 
    margin-top: 20vw;
    margin-left: 20vw;
    position: absolute;

}

  .background-image {
    width: 100vw;
    height: 100vw;
    position: absolute;
  }

  .play-again {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

/* medium */
@media (min-width: 768px) and (max-width: 900px) {
  table {
    width: 70%;
    height: 60%;
  }
  
  td, th {
    width: calc(100% / 8);
    height: calc(100% / 8);
    font-size: 20px;
  }

  .gameContainer { 
    margin-top: 15vw;
    margin-left: 20vw;
    position: absolute;

}

  .background-image {
    width: 70vw;
    height: 70vw;
    position: absolute;
  }

  .play-again {
    font-size: 1rem;
    padding: 8px 16px;
  }
}



/* Media query for large screens */
@media (min-width: 768px) {
  table {
    width: 50%;
    height: 50%;
  }
  
  td, th {
    width: calc(100% / 8);
    height: calc(100% / 8);
    font-size: 24px;
  }
}










/* ##############################prompt model##################################3 */

/* Result Modal */
.result-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  opacity: 90%;
  font-family: 'Alkatra', cursive, "Arial", "sans-serif";
}

.result-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 600px;
  text-align: center;
  animation: zoom-in 0.3s ease-in-out;
  
}

.result-modal-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.result-modal-heading p {
  font-size: 2em;
  margin-right: 1em;
}

.result-modal-heading img {
  max-width: 15%;
  height: auto;
}

.result-modal-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result-modal-content button {
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translateZ(0); /* Hardware acceleration */
}

.result-modal-content button:hover {
  transform: translateY(-9px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}


.btn-primary {
  background-color: #006d82ff;
  color: #fff;
  border: none;
}
/* primary hover */
.btn-primary:hover{
color: rgb(255, 255, 255);
background-color: rgb(1, 111, 34);

}
.btn-secondary {
  background-color: #d10722;
  color: #fff;
  border: none;
}
/* secondary hover */
.btn-secondary:hover {
  background-color: #fff;
  color: black;
  border: none;
}

/* Keyframe animation */
@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Media queries */
@media (max-width: 767px) {
  .result-modal-content {
    margin-top: 30%;
   
    margin: 81% auto; /* mobile view prompt position */
    padding: 10px;
    width: 80%;
  }
  
  .result-modal-heading p {
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  
  .result-modal-content img {
    width:7rem;
    height: 7rem;
    margin-top: 0.5em;
  }
  
  .result-modal-content button {
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .result-modal-content {
    margin: 20% auto;
    padding: 15px;
    width: 70%;
  }
  
  .result-modal-heading p {
    font-size: 1.8em;
  }
  
  .result-modal-content img {
    width:;rem;
    height: ;rem;
    margin-top: 1em;
  }
  
  .result-modal-content button {
    font-size: 1.1em;
    padding: 0.5em 1.3em;
  }
}

