table {
    border-collapse: collapse;
    margin: auto;

    position: absolute;
    width: 60%;
    height: 60%;
    table-layout: fixed;
  
  }

  td {
    /* width: 50px;
    height: 50px; */
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #fff;

    width: calc(100% / 8);
    height: calc(100% / 8);
  }

  th {
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .k{
    background-color: #5f4419;
  }

  /* Set the container to fill the entire viewport */
.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgba(0, 109, 130, 1);
    z-index: 1;
    position: relative;
    /* Task : for mobile view relative and for web view absolute */
    width: 100%;
    max-width: auto;
    margin: 0 auto;

    background-size: cover;
   
  }
  
  /* Set the game section to take up 50% of the width */
  .game {
    flex: 1;
    height: 100%;
    /* border: 1px solid black; */

    justify-content: end;
 
    position: relative;
    width: 100%;
    max-width: 100%; /* adjust as needed */
    margin: auto;
    background-size: cover;
    
  }


.gameContainer {
    margin-left: 20%;
    margin-top: 21%;
    position: relative;
    width: 100%;
    padding-bottom: 80%; /* set to the same value as width to create a square */
    
    overflow: hidden;
    z-index: 1;
    position: relative;
}


.background-image {
    position: absolute;
   
    top: 0;
    left: 0;
    background-image: url('../images/TreassureIsland.png');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  /* stepsAway text image */
  .text-layer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 248, 246);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  
  /* Set the info section to take up 50% of the width */
  .info {
    flex: 1;
    height: 100%;
    /* border: 1px solid black; */
  }


  .hintContainer {
    position: relative;
    float: left;
    flex: 1;
    height: 100%;
    /* margin-left: 5rem; */
    margin-top: 5rem;
    /* margin-bottom: 5rem; */
    margin-left: 5rem;
    /* position: absolute; */
    /* padding-bottom: 80%; */
    width: 70%;
    z-index: 2;
  }
  
  .hint {
    /* margin-bottom: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0.2rem solid darkcyan;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.625rem #006d82ff;
    /* font-family: Arial, sans-serif; */
    font-family: 'Press Start 2P', cursive, "Arial", "sans-serif";
    font-size: 1.125rem;
   
    
    background-color: #006d82ff;
    color: #fff;
   
    border-style: inset;
    text-shadow: 3px 3px 0 #363434;
    
  }

  .rules {
    
  }

  
  #foundTreasure {
    text-align: center;
    margin-top: 1rem;
    /* margin-bottom: 150%; */
    background-color: #cca669;

    align-items: center;
    justify-content: flex-start;
    border: 0.2rem solid darkcyan;
   
    border-radius: 1rem;
    box-shadow: 0 0 0.625rem #006d82ff;
    
    font-family: 'Press Start 2P', cursive, "Arial", "sans-serif";
    border-style: inset;
    text-shadow: 3px 3px 0 #363434;

    color: #fff;
    
  }
  
  #stepsAway {
    font-weight: bold;
    margin: 0 0.3125rem;
   
  } 


/* #################################################################### */
  
  /* Set the layout for smaller screens */
  @media screen and (max-width: 1100px) {
    .container {
      flex-direction: column;
      width: 100vh;
      height: 100%;
      justify-content: center;
      

      
        /* 
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 109, 130, 1);
        z-index: 1; */
        /* Remove position: relative and add min-height: 100vh */
        min-height: 170vh;
        max-width: 170%;
        /* Task : for mobile view relative and for web view absolute */
        /* width: 100%;
        max-width: auto;
        margin: 0 auto;
        background-size: cover; */
      
      

    }


    .game  {
      flex: 0 0 auto;
      height: 100%;
      width: 100%;
    }
    .info {
      flex: 0 0 auto;
      height: 150%;
      width: 110%;
    }

    .hint{
      font-size: 2rem;
    }
    #foundTreasure {
      font-size: 2rem;
    }

  }

  /* Media query for screens up to 768px wide */
@media screen and (max-width: 768px) {
    .container {
      max-width: 90%;
    }
  
    .game, .info {
      max-width: 90%;
    }
  }
  
  /* Media query for screens up to 576px wide */
  @media screen and (max-width: 576px) {
    .container {
      max-width: 100%;
      padding: 0 10px;
    }
  
    .game, .info {
      max-width: 100%;
      padding: 0 10px;
    }

    

  }


  /* button */
.play-again {
  border: none;
  background-color: white;
  color: #085d1b;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 1px solid grey;
  border-radius: 15px;
  margin-bottom: 2rem;
  box-shadow: 0 0 9px rgb(173, 173, 173);
}

.play-again:hover {
  background-color: #006d82ff;
  color: #fff;
  box-shadow: 0 0 3px darkcyan;
}

.play-again::before {
  content: "\f01e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.play-again:hover::before {
  transform: translateY(-50%) rotate(360deg);
  opacity: 1;
}
